<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    CARRITO 

    {{#each aux}}
    <div>
        <p>ID PRODUCTO: {{this._id}}</p>
        <p>NOMBRE: {{this.productId.nombre}}</p>
        <p>DESCRIPCIÓN: {{this.productId.descripcion}}</p>
        <p>CATEGORÍA: {{this.product.categoria}}</p>
        <p>PRECIO: {{this.precio}}</p>
        <p>CANTIDAD: {{this.cantidad}}</p>
        <hr>
    </div>
    {{/each}}
